* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: rgba(103, 103, 103, 0.53);

}

header{
  background-color: white;
  padding: 10px;
  margin-bottom: 30px;
}

#logo{

  vertical-align: middle;
}

#logo-text{
  text-align: center;
  font-size: 30px;
  font-weight:1000 ;
  vertical-align: middle;
}

.container{
  width: 80%;
  margin:0 auto;
  background-color: white;
  border-radius: 10px;
}

.top{
  height:80px;
  line-height: 80px;
  border-bottom: solid 1px grey;
}


.button{
 font-size: 15px;
 padding: 15px;
 border-radius: 20px;
 border:none;
}

.button1{
 color: white;
 background-color: rgba(29, 190, 180, 0.75);
  margin-left: 50px;
}

.button2{
 color: grey;
 background-color: rgba(84, 84, 84, 0.05);
}

.bottom{
  padding:50px 50px;
  background-color: white;
  border-bottom: solid 1px grey;
  border-radius: 0 0 10px 10px;
}

ul{
  list-style: none;
}

li{
  margin-top: 10px;
}


li h3:before{
  content: '\25BC';
  }

.text{
  margin-right: 3px;
}

.btn{
  color:white;
  border-radius: 20px;
  margin:5px;
  font-size: 12px;
  padding:4px;
}

.color1{
  background-color: rgba(29, 190, 180, 0.75);
}

.color2{
  background-color: rgba(198, 87, 22, 0.83);
}

#email{
  margin-right: 20px;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 10px;
}

footer h3{
  margin-left:50px;
  padding-top: 10px;
}

.button3{
  color: white;
  background-color: rgba(29, 190, 180, 0.75);
}
